<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <!--servlet的配置 -->
  <servlet-name>first</servlet-name>
  <servlet-class>com.imooc.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <!-- servlet的映射部分 -->
  <servlet-name>first</servlet-name>
  <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>ComputerServlet</servlet-name>
        <servlet-class>com.imooc.servlet.ComputerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputerServlet</servlet-name>
        <url-pattern>/ComputerServlet</url-pattern>
    </servlet-mapping>
   <servlet>
        <servlet-name>Caculator</servlet-name>
        <servlet-class>com.imooc.servlet.Caculator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Caculator</servlet-name>
        <url-pattern>/Caculator</url-pattern>
    </servlet-mapping>
</web-app>